

/*
------------------ The Whole World ------------------
 */

input[readonly] {
    cursor: text;
    background-color: #fff;
}

ul { margin-left: 0px; }

a, a:hover, a:visited {
    text-decoration: none;
    color: white;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.banner {
    background-color: #4ECC70;
    color: White;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 65px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
}

.container {
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    -moz-box-shadow:    0 0 8px 0 #a0a0a0;
    box-shadow:         0 0 8px 0 #a0a0a0;
    -webkit-box-shadow: 0 0 8px 0 #a0a0a0;
}

.spinner {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

footer {
    bottom: 0;
    padding-top: 50px;
    width: 100%;
}

/*
------------------ Home Page ------------------
*/

.search-input {
    width: 100%;
    max-width: 300px;
    min-height: 37px;
    text-align: center;
    font-weight: 700;
    color: black;
    clear: both;
    display: block;
}

input[type="text"].search-input, .uneditable-input {
    text-align: center;
    display: block;
}

.find-button {
    display: block;
    padding: 10px 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    border-color:#090;
    background-color: #4ECC70;
    color: #ffffff;
}
.find-button:hover {
    text-decoration:none;
    background-color: #38cd67;
    -moz-box-shadow:    inset 0 0 8px #0b0;
    -webkit-box-shadow: inset 0 0 8px #0b0;
    box-shadow:         inset 0 0 8px #0b0;
}

input.search-input:required:focus {
    -webkit-appearance: none !important;
    -webkit-border-image: none !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 170, 238, 0.364706) 0px 0px 5px 0px !important;
    -webkit-rtl-ordering: logical !important;
    -webkit-transition-delay: 0s, 0s !important;
    -webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s !important;
    -webkit-transition-property: border, box-shadow !important;
    -webkit-transition-timing-function: linear, linear !important;
    -webkit-user-select: text !important;
    background-color: white !important;
    border-bottom-color: rgba(136, 184, 221, 0.878431) !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgba(136, 184, 221, 0.878431) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgba(136, 184, 221, 0.878431) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgba(136, 184, 221, 0.878431) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 170, 238, 0.364706) 0px 0px 5px 0px !important;

    color: #555 !important;
    cursor: text !important;
    display: inline-block;
    font-family: Raleway, Arial, 'sans serif' !important;
    font-size: 14px !important;
    font-weight: bold !important;
    height: 20px !important;
    letter-spacing: normal !important;
    line-height: 20px !important;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 4px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 4px !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-shadow: none !important;
    text-transform: none !important;
    vertical-align: middle !important;
    word-spacing: 0px !important;
}

.find-form {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    clear: both;
}




/*
------------------ RIDES ------------------
*/

#info-banner {
    text-align: center;
    font-family:"Raleway", Arial, sans serif;
    font-size: 24px;
}

#rides {
    font-family:"Raleway", Arial, sans serif;
    text-align: center;
}

div.ride-result {
    font-size: 18px;
    max-width: 700px;
    min-width: 650px;
    margin: auto;
    height: 90px;
    margin-bottom: 15px;

    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #080;
}

.ride-result ul {
    padding-top: 25px;
    margin: auto;
    width: 650px;
}

.ride-result ul li {
    width: 130px;
    display: inline-block;
}

.btn-price {
    padding: 8px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width:  76px;
    font-family: arial, sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    border-color:#090;
    background-color: #4ECC70;
    color: #ffffff;
}

.btn-price:hover {
    text-decoration:none;
    background-color: #38cd67;
    -moz-box-shadow:    inset 0 0 8px #00B200;
    -webkit-box-shadow: inset 0 0 8px #00B200;
    box-shadow:         inset 0 0 8px #00B200;
}

@media only screen
and (min-width : 120px)
and (max-width : 480px) {

    .container {
        clear: both;
        margin-top: 35px;
    }

    .navbar-fixed-top {
        margin-bottom: 30px;
    }

    div.ride-result {
        height: 170px;
        min-width: 120px;
    }

    .ride-result ul {
        margin:0;padding:0; /* CSS Reset */
        display: table-row;
    }

    .ride-result ul li {
        float: left;
        display: table-cell;
        width: 100%;
        text-align: center;
        padding-bottom: 8px;
    }

    .ride-result ul li:first-child {
        padding-top: 8px;
        padding-left: 0px;
    }

}
