<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Bus Garage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet" >
        <style>
            body { padding-top: 60px; /* 60px to make the container go all the way
          to the bottom of the topbar */ }
        </style>
        <link href="static/css/pickadate.css" rel="stylesheet" >
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link href="static/css/styles.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
          </script>
          <![endif]-->
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
        <div class="banner navbar-inverse navbar-fixed-top">
            <h1>
                <a href="/">bus garage</a>
            </h1>
        </div>
        <div class="container">

                {% block content %}{% endblock %}

            <footer>
                <hr>
                <p>© Bus Garage 2013</p>
            </footer>
        </div>
        <!-- /container -->



        <!-- Le javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/pickadate.legacy.min.js"></script>
        <script src="static/js/spin.min.js"></script>
        <script src="static/js/scripts.js"></script>

        <!--<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->


    </body>
</html>
