{% extends "base.html" %}
{% block content %}

        <form class="find-form" action="{{ url_for('rides') }}" method="get" name="search-form">

            <input id ="origin" type="text" name="origin" class="search-input input-block-level" placeholder="going to" autocomplete="off" autofocus="autofocus" required>
            <input id ="destination" type="text" name="destination" class="search-input input-block-level" placeholder="leaving from" autocomplete="off" required>
            <input id="departure_date" name="departure_date" class="search-input datepicker input-block-level" type="text" placeholder="departing on" readonly="disabled" autocomplete="off">
            <input id="return_date" name="return_date" class="search-input datepicker input-block-level" type="text" placeholder="returning on" readonly="disabled" autocomplete="off">
            <button class="button find-button" type="submit">find a ride</button>

        </form>

{% endblock %}
