{% extends "base.html" %}
{% block content %}	

	<h2 id="info-banner">
        <span class="origin">{{ origin }}</span>
        to <span class="destination">{{ destination }}</span>
        on <span class="departure_date">{{ departure_date }}</span>
    </h2>

    <div id="rides">

    </div>

{% endblock %}
